
.cart-list {
    color: white;
    background-color: rgba(0, 0, 0, .5);
    display: grid;
    grid-template: 5rem 1fr / repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: fit-content;
    height: fit-content;
}



.cart-list > img {
    grid-row: 2/3;
    width: 7rem;
    height: auto;
}

.price {
    grid-row: 1/3;
}


.quantity {
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.quantityOp > button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 3rem;
    cursor: pointer;
}
.quantityOp > input {
    border: none;
    width: 5rem;
    font-size: 2rem;
    border-radius: 5px;
}

.delete {
    grid-row: 1 / 3;
    width: 7rem;
    cursor: pointer;
    height: 4rem;
    font-size: 1.5rem;
    padding: 1rem;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    justify-self: center;
    transition: background-color 1s;
}
.delete:hover {
    background-color: rgb(223, 35, 35);
}